# If some other library is clashing with 'zsb_*'
zsb="zsb2"

ZSB_NOTEBOOK_DIR=~/notebook
ZSB_NOTEBOOK_CHAPTER=quickNotes

ZSB_TICKETS_DIR=~/tickets
ZSB_CURRENT_TICKET='SOME-TICKET'

ZSB_PROJECTS_DIR=~/Documents/projects

ZSB_GIT_COMMIT_ARGS='--gpg-sign'

ZSB_JIRA_BASEURL=https://myorg.atlassian.net
ZSB_JIRA_EMAIL=dev@example.com
ZSB_JIRA_PROJECT_KEY=ABC
ZSB_JIRA_ISSUE_TYPE_ID=10001
ZSB_JIRA_REPORTER_ACCOUNT_ID=reporter-account-id
ZSB_JIRA_ASSIGNEE_ACCOUNT_ID=assignee-account-id
ZSB_JIRA_PARENT_KEY=ABC-1
ZSB_JIRA_PRIORITY_ID=3
ZSB_JIRA_LABELS=foo,bar
ZSB_JIRA_SPRINT_ID=12345
ZSB_JIRA_TRANSITION_ID=31

ZSB_ZSHENV=~/temp/.zshenv
