#!/bin/sh

# Persistent wallpaper (see setWallpaper spell)
local wallpaper=$(ls ~/temp/wallpaper/ | head -1)
xwallpaper --center ~/temp/wallpaper/${wallpaper} &

redshift -P randr -v &

# switch caps by ctrl
setxkbmap -option ctrl:swapcaps
