go 1.25.0

use (
	./cmd/get_repo_name
	./cmd/repeatstr
	./cmd/zsb_charm_tmux_renametab
	./cmd/zsb_charm_tmux_urlopen
	./cmd/zsb_clipcopy
	./cmd/zsb_open
	./cmd/airbnb_calculator

	./lib/args
	./lib/git
	./lib/open
	./lib/utils
)
